.itemDetailContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    
    .goBackDiv {
        width: 100%;

        a {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 1rem 1rem;
            font-size: 1.6rem;
            width: max-content;
    
            svg {
                width: 3rem;
                height: 3rem;
                font-size: 2rem;
            }
        }
    }

    .detailBottomDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 2rem;

        img {
            width: 50%;
            filter: drop-shadow(0 0 .5rem grey);
        }

        .descriptDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            font-size: 1.8rem;
            width: 40%;
            padding: 2rem;
            height: 100%;

            h2 {
                font-size: 3.2rem;
                text-transform: uppercase;
                text-align: center;
            }

            .addBtn {
                width: 15rem;
                text-transform: uppercase;
            }
        }
    }
}

