@use '../../utils/abstractsStyling' as abs;

.counterContainer {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    outline: .2rem solid abs.color('black-bg');

    .counter {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        min-width: max-content;
        gap: 2rem;
        padding: 1rem;
        font-weight: bold;
        background-color: abs.color('black-bg');
        color: abs.color('white');

        .counterShow {
            width: 1.6rem;
        }

        .plus1Btn {
            fill: abs.color('white');
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            
            &:disabled svg {
                fill: abs.color('grey-detail');
            }
        }

        .minus1Btn {
            fill: abs.color('white');
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;

            &:disabled svg {
                fill: abs.color('grey-detail');
            }  
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    
    .addToCartBtn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        min-width: max-content;
        width: 50%;

        &:hover {
            background-color: abs.color('white-card');
        }
    }
}
