.sampleTitle {
    text-align: center;
    font-size: 5rem;
    color: darkolivegreen;
}

.itemListContainer {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    scrollbar-width: none;
    margin: 0;
}

