.card {
    background-color: whitesmoke;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: #64646f33 0 .7rem 1.5rem 0;

    img {
        width: 20rem;
        filter: drop-shadow(0 0 .2rem grey);
    }

    h3 {
        font-size: 1.4rem;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        text-align: center;
    }
}