header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul li {
    cursor: pointer;
    width: 7.2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

header nav ul li a {
    text-decoration: none;
    padding: 0 .5rem;
    color: black;
    text-align: center;
    position: relative;
}

header nav ul li a::after {
    content: "";
    height: .2rem;
    position: absolute;
    width: 0;
    left: 50%;
    top: 2rem;
    background-color: gray;
    transition: width ease 300ms;
    transform: translate(-50%, 0);
}

header nav ul li a:hover::after{
    width: 100%;
}