$color-map: (
    'black-bg': #111010,
    'white': #FEFFFE,
    'white-card': #f2f2f2,
    'gold-main': #AC8D5B,
    'gold-dark': #9C7B46,
    'green-detail': #3D6E72,
    'grey-detail': #6a6a6a
)

/* @use '../../utils/abstractsStyling' as abs; */
