header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: #eaeaea;
}

header img {
    width: 6rem;
    cursor: pointer;
}