

.cartItemRow {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);

    div {
        display: flex;
        align-items: center;

        img {
            width: 15rem;
        }
    }

    .removeItemBtn {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        width: 1.5rem;
        cursor: pointer;
    }
}

