* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    color: black;
    text-decoration: none;
    
    &:link, &:visited, &:hover, &:active  {
        text-decoration: none;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-gutter: stable; //Deja un espacio vacio donde est'a la barra pero no modifica el resto de las cosas. Ver otra alternativa
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}