@import url(https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    
    &:link, &:visited, &:hover, &:active  {
        text-decoration: none;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: 'Didact Gothic', sans-serif;;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}